@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500;600&family=Fredoka+One&family=Inspiration&family=Lobster&family=Merriweather+Sans:ital,wght@1,800&family=Playball&family=Righteous&family=Rubik+Wet+Paint&display=swap');

body{
    font-family: 'Baloo Bhaijaan 2', cursive;

}
@keyframes hover {
    from{
        width: 0px;
    }
    to{
        width: 20px;
        text-decoration: overline;
    }
}